name: DEPLOY TO DEDICATED SERVER
on:
  push:
    branches:
    - master
    - CI
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: rsync deployments
      uses: burnett01/rsync-deployments@5.2.1
      with:
        switches: -avzr --delete --exclude="" --include="" --filter=""
        path: ./src
        remote_path: ~/ebird/src
        remote_host: www.wyvernpserver.tech
        remote_port: 22
        remote_user: admin
        remote_key: ${{ secrets.DEPLOY_KEY }}
    - name : Install package
      uses: appleboy/ssh-action@v0.1.7
      with:
        host:  www.wyvernpserver.tech
        username: admin
        password: haibaconga
        port: 22
        script: >
          cd ebird &&
          yarn install && 
          current_date_time="`date "+%Y-%m-%d %H:%M:%S"`" && 
          echo $current_date_time >> DEPLOY_LOG.md

